[user]
	name = Krzysztof Garczynski
	email = krzysztof.garczynski@gmail.com
[core]
    editor = code --wait
    whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
    excludesfile = ~/.gitignore
    autocrlf = input
[web]
    browser = chromium
[merge]
    tool = meld
    log = true
[diff]
	guitool = meld
    tool = meld
[difftool "meld"]
	path = /usr/bin/meld
[color]
	ui = auto
    branch = auto
    diff = auto
    interactive = auto
    whitespace = trailing-space
[coloer "status"]
    added = green bold
    changed = yellow bold
    untracked = red bold
[push]
    default = current
[help]
    autocorrect = 1
[alias]
    # Short status
    s = status -sb
    # Short log
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
    # diff between latest commit and current
    d = !"git diff-index --quiet HEAD -- || clear; git --no-pager diff --patch-with-stat"
    # `git di $number` shows the diff between the state `$number` revisions ago and the current state
    di = !"d() { git diff --patch-with-stat HEAD~$1; }; git diff-index --quiet HEAD -- || clear; d"
    # Grep
    g  = "!git --no-pager grep --color --ignore-case -n"
    pu = pull
    pr = pull --rebase
    tags = tag -1
    branches = branch -a
    remotes = remote -v
    a = add --all
    ap = add --patch
    co = checkout
    ci = commit -v



