.*
*.swp
*.o
*.ko
*.mod*
*.log
*.aux
*.pdf
*.snm
*.out
*.gz
*.toc
*.nav
*.eep
*.a
*.elf
*.hex
*.lss
*.lst
*.map
Module*
modules*
CMakeCache.txt
cmake_install.cmake
CMakeFiles
.gdb_history

# But not this one... 
!.clang_complete
!.config

